#focim{
    color: gold;
    background-color: aqua;

}

#asztal{
    background-color: olive;
    border-color: rgb(255, 251, 0);
}

.word{
    color: whitesmoke;
    background-color: lime;
}

body{
    background-color: rgb(0, 255, 255);
}

.lol{
    color: plum;
    background-color: goldenrod;}
.lul{
    color: aquamarine;
    background-color: lightsalmon;
}
.ligma{
    color: fuchsia;
    background-color: burlywood;
}
li{
    color: wheat;
}